# Editors temporaries
*.swp
*~

# Distribution tarballs
*.tar.bz2
*.tar.gz

# Autotools temporaries
autom4te.cache/
build-aux/
autoscan.log
config.status
config.log
configure
configure.scan
Makefile
Makefile.in
aclocal.m4
stamp-h1

# Configuration header
config.hpp

# Targets
hello

# Other configuration files
my_config_file

# Build temporaries
src/.deps/
src/.dirstamp
src/*.o
