# Editors temporaries
*.swp
*~

# Distribution tarballs
*.tar.bz2
*.tar.gz

# Autotools temporaries
autom4te.cache/
build-aux/
autoscan.log
config.status
config.log
configure
configure.scan
Makefile
Makefile.in
aclocal.m4
stamp-h1

# Configuration header
config.hpp

# Targets
hello_cpp

# Other configuration files
my_config_file

# Build temporaries
src/.deps/
src/.dirstamp
src/*.o

other_tool/.dirstamp
other_tool/other_tool
other_tool/src/.deps/
other_tool/src/.dirstamp
other_tool/src/*.o

